html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover,
a:visited {
  opacity: 1;
}

.callout {
  margin: 0;
}

@include mobile {
  .off-canvas .close-button {
    z-index: 10;
  }
  .usermenu-off-canvas-holder .usermenu-off-canvas.is-dropdown-submenu {
    display: flex;
    flex-direction: column;
  }
}
