@import "helpers/**/*";

.title-bar {
  z-index: 1;
  padding: 0.2rem 0;
}

.show-for-medium {
  z-index: 1;
  position: relative;

  &.show-for-medium--not-home {
    background-color: $black;

    img {
      transform: scale(0.8);
    }

    .reus-bar {
      height: auto;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  // Bring to front all elements inside
  & * {
    z-index: 2;
  }

  .reus-bar {
    height: 137px;
    display: flex;
    align-items: center;

    .navbar-container {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .social-networks a {
        @include font($size: 30px, $color: $white);
      }

      .navbar {
        background: transparent;

        ul {
          display: flex;
          list-style-type: none;

          li {
            text-align: right;
            text-transform: uppercase;

            a {
              padding-left: 2rem;
              @include font($color: $white);

              &.active {
                color: $yellow;
              }
            }
          }
        }
      }
    }
  }
}
