<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Benvingut/da a la plataforma de participació de Reus.</h1>

    <p>
      Com a membre inscrit al Registre Ciutadà de Reus et volem comunicar que estrenem una plataforma de participació. Per tal de facilitar-ne el teu accés, genera la teva contrasenya fent clic <%= link_to 'aquí', edit_password_url(@resource, reset_password_token: @token) %>.
    </p>

    <p>
      Entra, participa i decideix. Amb tu construïm la ciutat que volem.
    </p>
  </body>
</html>
